@tailwind base;
@tailwind components;
@tailwind utilities;

.doctor_background {
  background-image: url('./doctor_profile/assets/doctor-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
